@using Microsoft.AspNetCore.Http
@model IEnumerable<DataAccess.Models.MovieSessionModelUI>

@{
	ViewData["Title"] = "GetAllMovies";
}

<h1>All movies which you can watch in cinemas</h1>


@if (Context.Session.GetString("loginUser") == "Admin")
{
	<p>
		<a asp-controller="Movie" asp-action="AddNewMovie">Add new movie</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Time
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Time)
					</td>
					@Html.HiddenFor(modelItem => item.Price)
					@Html.HiddenFor(modelItem => item.Discription)
					@Html.HiddenFor(modelItem => item.IdSession)
					@Html.HiddenFor(modelItem => item.IdHall)
					@Html.HiddenFor(modelItem => item.IdMovie)
					<td>
						@Html.ActionLink("View cinema", "ViewCinemaByFilm","Cinema", new {  id=item.IdMovie,idSession = item.IdSession })<br>
						@Html.ActionLink("Edit", "EditMovie", new {  id=item.IdMovie  }) <br>
						@Html.ActionLink("Delete", "DeleteMovie", new {  id=item.IdMovie  })<br>

					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Time
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Time)
					</td>
					@Html.HiddenFor(modelItem => item.Price)
					@Html.HiddenFor(modelItem => item.Discription)
					@Html.HiddenFor(modelItem => item.IdSession)
					@Html.HiddenFor(modelItem => item.IdHall)
					@Html.HiddenFor(modelItem => item.IdMovie)
					<td>
						@Html.ActionLink("View cinema", "ViewCinemaByFilm","Cinema", new {  id=item.IdMovie,idSession = item.IdSession })
					</td>
				</tr>
			}
		</tbody>
	</table>
}

