@using Microsoft.AspNetCore.Http
@model IEnumerable<AreaUI>

@{
	ViewData["Title"] = "GetAreasByIdHall";
}

<h1>All areas in this hall</h1>


@if (Context.Session.GetString("loginUser") == "Admin")
{
	<p>
		<a asp-controller="Area" asp-action="AddArea">Add area</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Number area
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					@Html.HiddenFor(modelItem => item.IdHall)
					<td>
						@Html.ActionLink("See places", "GetAllRowsAndPlaces","RowAndPlace", new {  id=item.Id }) <br>
						@Html.ActionLink("Delete Area", "DeleteArea", new {  id=item.Id  })
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>
					Number area
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					@Html.HiddenFor(modelItem => item.IdHall)
					<td>
						@Html.ActionLink("See places", "GetAllRowsAndPlaces","RowAndPlace", new {  id=item.Id })
					</td>
				</tr>
			}
		</tbody>
	</table>
}

