@using Microsoft.AspNetCore.Http
@model Web.Models.HallUI

@{
	ViewData["Title"] = "GetHall";
}

<h1>All halls in this cinema</h1>
@if (Context.Session.GetString("loginUser") == "Admin")
{
	<table class="table">
		<thead>
			<tr>
				<th>
					Number hall
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.Id)
				</td>
				@Html.HiddenFor(modelItem => Model.IdCinema)
				<td>
					@Html.ActionLink("See areas", "GetAreasByIdHall", "Area", new {  id=Model.Id })
				</td>
			</tr>

		</tbody>
	</table>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(modelItem => Model.Id)
				</td>
				@Html.HiddenFor(modelItem => Model.IdCinema)
				<td>
					@Html.ActionLink("See areas", "GetAreasByIdHall", "Area", new {  id=Model.Id })
				</td>
			</tr>

		</tbody>
	</table>

}
