@using Microsoft.AspNetCore.Http
@model IEnumerable<CinemaUI>


@{
	ViewData["Title"] = "ViewCinemaByFilm";
}

<h1>Cinemas where you can watch a movie</h1>

@if (Context.Session.GetString("loginUser") == "Admin")
{

	<table class="table">
		<thead>
			<tr>
				<th>
					Name cinema
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					@Html.HiddenFor(modelItem => item.Picture)
					@Html.HiddenFor(modelItem => item.Id)
					<td>
						@Html.ActionLink("See halls", "GetHallByMovie","Hall", new {  id=item.Id  })
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>
					Name cinema
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					@Html.HiddenFor(modelItem => item.Picture)
					@Html.HiddenFor(modelItem => item.Id)
					<td>
						@Html.ActionLink("See halls", "GetHallByMovie","Hall", new {  id=item.Id  })
					</td>
				</tr>
			}
		</tbody>
	</table>
}
